@{
    ViewData["Title"] = "ForgotPassword";
}
<div class="container col-6 ">
    <div>
        <article class="card-body">
            <div style="align-items:center; display:flex; flex-direction:column; font-size:20px">
                <i class="fa fa-5x fa-lock"></i>
                <b><p>Please fill in the recovery mail to get the reset link</p></b>
            </div>

            <hr>
            <form method="post" asp-area="" asp-controller="Account" asp-action="ForgotPassword">
                <div class="form-group">
                    <input class="form-control" placeholder="user@mail.com" type="text">
                </div>
                <div class="row">
                        <div class="form-group forgot-password-button-block">
                            <button class="btn btn-default forgot-password-button">Back</button>
                            <button type="submit" class="btn btn-primary forgot-password-button">Get Password Reset Link</button>
                        </div> <!-- form-group// -->
                </div> <!-- .row// -->
            </form>
        </article>
    </div> <!-- card.// -->
</div>