@model IEnumerable<WishListProduct>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Wishlist" asp-route-userName="@User.Identity.Name">
        <i class="fa fa-heart"></i>
        <span>Your Wishlist</span>
        <div id="wishListCount" class="qty">@Model.Count()</div>
    </a>
</div>