@model Rent.ViewModels.ProductViewModels.NewProductViewModel

@{
    ViewData["Title"] = "Yeni Məhsul";
}

<h2>Yeni məhsul</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Məhsulun adı</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label">Məhsul haqqında</label>
                <textarea rows="5" asp-for="ProductDescription" class="form-control"></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-check-input" asp-for="Sell" type="checkbox" id="sellCheck">
                <label class="ml-4 form-check-label" asp-for="Sell" for="sellCheck">
                    Satmaq
                </label>
            </div>
            <div class="form-group">
                <input class="form-check-input" asp-for="Lend" type="checkbox" id="lendCheck">
                <label class="ml-4 form-check-label" asp-for="Lend" for="lendCheck">
                    Kirayə vermək
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SellPrice" class="control-label">Satış Qiyməti (AZN)</label>
                <input asp-for="SellPrice" class="form-control" disabled id="sellInput" />
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LendPrice" class="control-label">Kirayə Qiyməti (AZN/GÜN)</label>
                <input asp-for="LendPrice" class="form-control" disabled id="lendInput" />
                <span asp-validation-for="LendPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinLendDays" class="control-label">Minimal Kirayə Müddəti (GÜN)</label>
                <input asp-for="MinLendDays" min="1" class="form-control" disabled id="lendDaysInput" />
                <span asp-validation-for="MinLendDays" class="text-danger"></span>

            </div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.UserId" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Kateqoriya</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Şəkil əlavə et</label>
                    <div class="custom-file">
                        <input class="custom-file-input" type="file" name="images" id="images" multiple="multiple">
                        <label class="custom-file-label" for="images">File seç</label>
                    </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Yarat" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{
    <script>
        $('#images').on('change', function () {
            var files = $(this)[0].files;
            if (files.length > 1) {
                $(this).next('.custom-file-label').html(files.length + " files selected")
            } else {
                var filename = $(this).val();
                $(this).next('.custom-file-label').html(filename);

            }
        })

        $('#sellCheck').click(function () {
            if ($(this).prop("checked") == true) {
                $("#sellInput").removeAttr("disabled");
            } else {
                $("#sellInput").val("");

                $("#sellInput").attr("disabled", true);
            }
        })

        $('#lendCheck').click(function () {
            if ($(this).prop("checked") == true) {
                $("#lendInput").removeAttr("disabled");
                $("#lendDaysInput").removeAttr("disabled");
            } else {
                $("#lendInput").val("");
                $("#lendInput").attr("disabled", true);
                $("#lendDaysInput").val("");
                $("#lendDaysInput").attr("disabled", true);
            }
        })
    </script>
}