@model Rent.ViewModels.ProductViewModels.ProductDetailsViewModel

@{
    ViewData["Title"] = "Edit";
}
<h2>Məhsulu dəyiş</h2>
<hr />
<div class="row">
    <div class="col-md-7">
        @if (Model.Images != null)
        {
        <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
                @{
                    var mainProducts = Model.Images;
                }
            <div class="carousel-inner">
                @{
                    bool first = true;
                }
                @foreach (var item in mainProducts)
                {
                    <div class="carousel-item @(first ? "active" : "")">
                        <img style="max-height:300px" src="~/Images/Products/@item.PhotoUrl">
                    </div>
                    { first = false; }
                }
            </div>
            <a class="left carousel-control" href="#carouselExampleIndicators" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carouselExampleIndicators" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
            @*<a class=" left carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
        </a>*@
        </div>
            <div class="row mt-3">
                @foreach (var image in Model.Images)
                {
                    <div class="card ml-3 mb-3" style="width:150px;height:100px">
                        <img style="height:100px" class="card-img-top" src="~/Images/Products/@image.PhotoUrl">
                        <div>
                            @if (image.PhotoUrl == image.Product.MainPhotoUrl)
                            {
                                <a onclick="setMainPhoto(this)" class="btn btn-default btn-block btn-profile disabled">Əsas şəkil seç</a>

                            }
                            else
                            {
                                <a onclick="setMainPhoto(this)" class="btn btn-primary btn-block btn-profile">Əsas şəkil seç</a>
                            }
                            <input value="@image.Id" hidden />
                            <a onclick="deletePhoto(this)" class="mt-2 btn btn-block btn-danger">Şəkli sil</a>
                        </div>

                    </div>
                }
            </div>
        }

    </div>
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group" hidden>
                <input id="productId" asp-for="@Model.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Məhsulun adı</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label">Məhsul haqqında</label>
                <textarea rows="5" asp-for="ProductDescription" class="form-control"></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-check-input" asp-for="Sell" type="checkbox" id="sellCheck">
                <label class="ml-4 form-check-label" asp-for="Sell" for="sellCheck">
                    Satmaq
                </label>
            </div>
            <div class="form-group">
                <input class="form-check-input" asp-for="Lend" type="checkbox" id="lendCheck">
                <label class="ml-4 form-check-label" asp-for="Lend" for="lendCheck">
                    Kirayə vermək
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label">Say (Ədəd)</label>
                <input asp-for="TotalAmount" class="form-control" id="totalAmountInput" min="1"/>
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPrice" class="control-label">Satış Qiyməti (AZN)</label>
                <input asp-for="SellPrice" class="form-control" id="sellInput" />
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LendPrice" class="control-label">Kirayə Qiyməti (AZN/GÜN)</label>
                <input asp-for="LendPrice" class="form-control" id="lendInput" />
                <span asp-validation-for="LendPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinLendDays" class="control-label">Minimal Kirayə Müddəti (GÜN)</label>
                <input asp-for="MinLendDays" min="1" class="form-control" id="lendDaysInput" />
                <span asp-validation-for="MinLendDays" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Kateqoriya</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Şəkil əlavə et</label>
                <div class="custom-file">
                    <input class="custom-file-input" type="file" name="images" id="images" multiple="multiple">
                    <label class="custom-file-label" for="images">File seç</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Yadda Saxla" class="btn btn-default" />
            </div>
        </form>
    </div>

</div>

<div>
    @if (User.Identity.Name == "admin@rent.com")
    {
        <a asp-area="Admin" asp-controller="Home" asp-action="ActiveProducts">Məhsullara qayıt</a>
    }
    else
    {
        <a asp-area="" asp-controller="Products" asp-action="Index">Back to List</a>
    }
</div>

@section Scripts{

    <script>

        $(document).ready(function () {
            if ($("#sellCheck").prop("checked") == false) {
                $("#sellInput").attr("disabled", true);
            };
            if ($("#lendCheck").prop("checked") == false) {
                $("#lendInput").attr("disabled", true);
                $("#lendDaysInput").attr("disabled", true);
            };
        });

        $('#sellCheck').click(function () {
            if ($(this).prop("checked") == true) {
                $("#sellInput").removeAttr("disabled");
            } else {
                $("#sellInput").val("");

                $("#sellInput").attr("disabled", true);
            }
        })

        $('#lendCheck').click(function () {
            if ($(this).prop("checked") == true) {
                $("#lendInput").removeAttr("disabled");
                $("#lendDaysInput").removeAttr("disabled");
            } else {
                $("#lendInput").val("");
                $("#lendInput").attr("disabled", true);
                $("#lendDaysInput").val("");
                $("#lendDaysInput").attr("disabled", true);
            }
        })

        $('#images').on('change', function () {
            var files = $(this)[0].files;
            if (files.length > 1) {
                $(this).next('.custom-file-label').html(files.length + " files selected")
            } else {
                var filename = $(this).val();
                $(this).next('.custom-file-label').html(filename);

            }
        })
        function setMainPhoto(target) {
            var filePath = $(target).parent().parent().find("img").attr("src").slice(17);
            $(".disabled").removeClass("disabled").addClass("btn-primary");
            $(target).removeClass("btn-primary").addClass("disabled btn-default");
            $.ajax({
                type: "POST",
                url: "/Products/SetMainPhoto",
                data: {
                    productId:@Model.Id,
                    filename: filePath
                }
            })
        }

        function deletePhoto(target) {
            var searchCriteria = $(".disabled");
                var element = ($(target).parent().find(searchCriteria));
            if (element.length>0) {
                window.alert("Şəkil silinməmişdən əvvəl yeni əsas şəkil seçilməlidir");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Products/DeletePhoto",
                    data: {
                        photoId: $(target).parent().find("input").val()
                    },
                    success: function () {
                        $(target).parent().parent().remove();
                    }
                })
            }
        };
    </script>
}