<form>
    <select class="input-select">
        @for(int i = 0; i < ViewBag.Categories.Count; i++)
        {
            <option value="@i">@ViewBag.Categories[i]</option>

        }
    </select>
    <input class="input" placeholder="Search here">
    <button class="search-btn">Search</button>
</form>