@model IEnumerable<Category>
<form method="post">
    <select class="input-select">
        @{
            var i = 0;
            foreach (var category in Model)
            {
                <option value=i>@category.CategoryName</option>
                ++i;
            }
        }
    </select>
    <input class="input" placeholder="Search here" name="searchString">
    <button class="search-btn" asp-controller="Home" asp-action="Index">Search</button>
</form>