@model int

<div>
    <a href="/messages/inbox">
        <i class="fa fa-envelope"></i>
        <span id="messagesTitle">Messages</span>
        <div id="messsageListCount" class="qty">@Model</div>
    </a>
</div>